// Use this file to store global variables for your project.

$kombo-blue: #208cfb;
$kombo-yellow: #ffd720;
$deepBlue:#132968;
$background-white: #f1f3f6;
$default-text: #132968;
$background-lightBlue:#ecf4fd;
$background-lightgrey:#f1f3f6;
$white: #ffffff;
$grey: #838383;

$shadow-color: rgba(13, 39, 54, 0.2);

@mixin desktop-size {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin calendar{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $background-lightgrey;
  border-color: #000;
  border-radius: 1rem;
  padding:5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin logo{
  height:20px;
  width:20px;
}

@mixin container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@mixin text{
  color: $grey;
  font-weight: 500;
}

@mixin flexRow{
  display: flex;
  flex-direction: row;
}
@mixin flexColumn{
  display: flex;
  flex-direction: column;
}
@mixin button {
  padding: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $kombo-yellow;
}


