@import "./../assets/scss/variables";

.kombo-search {
  @include desktop-size {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  >* {
    width: 100%;
    text-align: center;

    @include desktop-size {
      width: 50%;
    }
  }

  .search-container {
    .demo-search {
      margin: 0 auto;
      display: none;

      @include desktop-size {
        display: block;
        cursor: pointer;
      }
    }
  }

  .tickets-container {
    align-items: center;
    align-content: center;
  }
}

.text {
  color: $kombo-blue;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.text-disabled {
  color: $grey;
  margin-block-start: 5px;
  margin-block-end: 5px;
}