@import "./../assets/scss/variables";

.ticket-info {
  @include flexColumn;
  align-items: center;

  .outward {
    background-color: $kombo-blue;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-block-end: 30px;
  }

  .ticket {
    @include flexColumn;
    position: relative;
    width: 100%;
    max-width: 40%;
    justify-content: center;
    align-items: center;
    background: $white;
    box-shadow: 0px 0px 10px $shadow-color;
    border-radius: 10px;
    margin-top: 20px;

    .trip {
      width: 100%;
      padding: 0 30px 20px;
      box-sizing: border-box;

      .flexibility {
        @include flexColumn;

        .standard {
          color: $kombo-blue;
          margin-block-end: 5px;
        }

        .text {
          margin-block-end: 0;
        }
      }
    }

    .included {
      @include flexRow;
      justify-content: space-between;
      margin-top: 20px;

      .amenities {
        @include flexColumn;
        justify-content: center;
        align-items: center;

        .amenities-text {
          color: $kombo-blue;
          font-weight: 600;
        }
      }
    }

    .date {
      padding: 10px 0;
      height: 30px;
      font-weight: 700;
      font-size: 16px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $kombo-blue;
      border-bottom: $kombo-blue 1px solid;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .price {
      padding: 10px 0;
      width: 100%;
      bottom: 0;
      left: 0;
      background: $kombo-blue;
      border-radius: 0px 0px 10px 10px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #fff;
    }
  }

  .button {
    margin-top: 20px;
    width: 40%;
  }
}

@media (max-width:700px) {
  .ticket-info {
    .ticket {
      max-width: 70%;
    }

    .button {
      width: 70%;
    }
  }
}

@media (max-width:450px) {
  .ticket-info {
    .ticket {
      max-width: 100%;
    }

    .button {
      width: 100%;
    }
  }
}