@import "../../assets/scss/variables";

.calendar-container {
  @include desktop-size {
    @include container;
    justify-content: space-around;
  }

  >* {
    width: 100%;
    text-align: center;

    @include desktop-size {
      width: 100%;
    }
  }

  .search-container {
    .demo-search {
      margin: 0 auto;
      display: none;

      @include desktop-size {
        display: block;
        cursor: pointer;
      }
    }
  }

  .tickets-container {
    margin: 16px auto;
  }
}

.main-container {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 15px 30px rgb(19 41 104 / 20%);
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .select {
    @include flexRow;
    background-color: $background-lightgrey;
    border-color: #000;
    border-radius: 1rem;
    margin-top: 20px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .lastSelect {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .calendar-left {
    @include calendar;
    margin-inline-end: 10px;
  }

  .calendar-right {
    @include calendar;
    margin-inline-start: 10px;
  }
}

.location-logo {
  @include logo;
  margin-inline-end: 1rem;
}

.plus-logo {
  @include logo;
  margin-inline-start: 1rem;
}

.location {
  @include container;
  align-items: center;
}

.passengerContainer {
  @include flexRow;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(19 41 104 / 20%);
  margin-block-end: 20px;
}

.text {
  color: #208cfb;
}

.age {
  @include text;
  margin-inline-start: 10px;
}

.locationText {
  @include text;
}

.inputBox {
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  width: 80%;
  border-width: 0;
}

.city {
  @include flexRow;
  justify-content: space-between;
}

.calendarFull {
  width: 90% !important;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-width: 0 !important;
  background-color: transparent !important;
}

.calendarModal {
  @include flexColumn;
  width: 100%;
  align-items: center;
}

@media (max-width: 990px) {
  .calendar-container {
    width: 95%;
  }

  .calendar-right {
    margin-inline-start: 0;
  }
}