@import "../../../assets/scss/variables";

.ticket {
  @include flexColumn;
  justify-content: center;
  height: 100%;
  width: 80%;
  background-color: #f1f3f6;
  border-radius: 20px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  @include flexRow;
  justify-content: flex-start;
  align-items: center;
  background-color: $background-lightgrey;
  padding: 5px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.company-logo {
  margin-inline-start: 10px;
}

.transportIcon {
  color: $grey;
}

.main-container {
  padding-left: 0 !important;
  ;
  padding-right: 0 !important;
  padding-block-end: 10px;
  padding-block-start: 10px;
  align-items: center;
  width: 100%;
  align-content: center;
}

.info-container {
  padding-left: 0 !important;
  ;
  padding-right: 0 !important;
  padding-block-end: 0;
  padding-block-start: 0;
  align-items: center;
  width: 100%;
  align-content: center;
  background-color: #fff;
  border-radius: 20px;
}

.time-container {
  @include flexColumn;
  justify-content: space-between;
  text-align: start;
}

.time {
  margin-block-end: 10px;
  margin-block-start: 10px;
  font-size: 12px;
  font-weight: 600;
}

.link {
  text-decoration: none;
}

.city-main-container {
  @include flexRow;
  align-items: center;
  text-align: left;
}

.seperator {
  height: 20%;
}

.station {
  @include flexColumn;
  align-items: flex-start;
  justify-content: center;
}

.station-text {
  margin-block-end: 5px;
  margin-block-start: 5px;
  font-weight: 600;
  color: $deepBlue;
  font-size: 14px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  align-items: center !important;
  justify-content: space-evenly !important;
}

.date {
  margin-inline-end: 5px;
  margin-inline-start: 5px;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
}

.active-date {
  background-color: $kombo-blue;
  padding: 15px;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff
}

.transport-container {
  background-color: #fff;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:575px) {
  .ticket {
    width: 100%;
  }
}

@media(max-width:280px) {
  .header {
    flex-direction: column;
  }
}