@import "../../../assets/scss/variables";

.trip {
    width: 100%;
    padding: 0 30px 20px;
    box-sizing: border-box;

    .tripSegment {
        width: 100%;
        display: flex;
    }

    .time {
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-align: right;
        color: $kombo-blue;
        font-size: 14px;
    }

    .location {
        line-height: 17px;
        margin-left: 30px;

        .city {
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            align-items: flex-end;
            color: $kombo-blue;
        }

        .station {
            margin: 10px 0;
            padding: 0;
            font-weight: 400;
            font-size: 12px;
            display: flex;
            align-items: flex-end;
            color: $grey;
        }
    }

    .transport-type {
        @include flexRow;
        margin-left: 84px;
        padding: 8px 0;
        align-items: center;
    }
}